{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        
        <div class="technologies">
                {{ content }}
                <h1 id="title">Web Technologies</h1>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>